@use '@/sass/variaveis' as *;
@use '@/sass/mixins' as *;

.item {
    border-bottom: $borda-clara-1;
    color: $cor-texto-claro;
    font-size: $fonte-paragrafo-medio;
    font-weight: $fonte-peso-normal;
    line-height: 1.5rem;
    padding-bottom: 0.5rem;

    &:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }

    a[class='active'] {
        color: $cor-texto-destaque;
        font-weight: $fonte-peso-bold;
    }
}

@include breakpoint(tablet) {
    .item {
        border-bottom: none;
        font-size: $fonte-paragrafo-muito-pequeno;
        line-height: 1.25rem;
        padding-bottom: 0;
    }
}

@include breakpoint(desktop) {
    .item {
        font-size: $fonte-paragrafo-medio;
        line-height: 1.5rem;
    }
}
