@use '@/sass/variaveis' as *;
@use '@/sass/mixins' as *;

.navegacao {
    &.aberto {
        align-items: flex-end;
        background-color: $cor-fundo-neutro;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        padding: 1.25rem 1.375rem;
        position: absolute;
        right: 0;
        top: 0;
    }

    &.fechado {
        justify-self: end;

        .lista {
            display: none;
        }
    }

    .lista {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

@include breakpoint(tablet) {
    .navegacao {
        &.aberto {
            align-items: flex-start;
            background-color: unset;
            padding: 0;
            position: static;
        }

        &.fechado {
            justify-self: start;

            .lista {
                display: flex;
            }
        }

        .lista {
            flex-direction: row;
            gap: 1.25rem;
        }

        > :first-child {
            display: none;
        }
    }
}

@include breakpoint(desktop) {
    .navegacao {
        .lista {
            gap: 2.5rem;
        }
    }
}
