@use '@/sass/variaveis' as *;
@use '@/sass/mixins' as *;

%titulo {
    color: $cor-texto-escuro;
    font-size: $fonte-titulo-grande;
    font-weight: $fonte-peso-medio;
    line-height: normal;
    text-align: center;
}

%principal {
    align-items: start;
    display: grid;
    flex-grow: 1;
    gap: 1.5rem;
    grid-template-rows: max-content 1fr;
    padding: 1.5rem $espacamento-pequeno 3rem;

    @include breakpoint(tablet) {
        gap: 2rem;
        padding: 2.5rem $espacamento-medio 3.25rem;
    }

    @include breakpoint(desktop) {
        padding: 4.625rem $espacamento-grande 5.25rem;
    }
}

%grid-produtos {
    display: grid;
    gap: 1.875rem;
    grid-template-columns: repeat(auto-fill, 323px);
    justify-content: center;

    @include breakpoint(tablet) {
        gap: 2rem 1.875rem;
        grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    }

    @include breakpoint(desktop) {
        gap: 1.875rem;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}

%produto-nome {
    color: $cor-texto-escuro;
    font-size: $fonte-titulo-muito-pequeno;
    font-weight: $fonte-peso-bold;
    line-height: 1.375rem;
}

%produto-descricao {
    color: $cor-texto-escuro;
    font-size: $fonte-paragrafo-muito-pequeno;
    font-weight: $fonte-peso-normal;
    line-height: 1.25rem;
}

%produto-preco {
    color: $cor-texto-escuro;
    font-size: $fonte-paragrafo-medio;
    font-weight: $fonte-peso-bold;
    line-height: 1.375rem;
}

%produto-fornecedor {
    color: $cor-texto-prateado;
    font-size: $fonte-paragrafo-muito-pequeno;
    font-weight: $fonte-peso-normal;
    line-height: 1.25rem;
}
