// Cores de Fundo
$cor-fundo-escuro: #000000;
$cor-fundo-claro: #ffffff;
$cor-fundo-intermediario: #343a40;
$cor-fundo-destaque: #daff01;

// Cores de Banner
$cor-banner-roxo: #9353ff;
$cor-banner-rosa: #ee6471;
$cor-banner-laranja: #f87f46;

// Cores de Botão
$cor-botao-primario: #9353ff;
$cor-botao-secundario: #000000;

// Cores de Texto
$cor-texto-claro: #ffffff;
$cor-texto-escuro: #212529;
$cor-texto-destaque: #daff01;
$cor-texto-acinzentado: #6c757d;
$cor-texto-prata: #adb5bd;

// Famílias de Fonte
$fonte-familia-primaria: 'Inter', sans-serif;

// Tamanhos de Fonte
$fonte-titulo-muito-pequeno: 16px;
$fonte-titulo-pequeno: 20px;
$fonte-titulo-medio: 24px;
$fonte-titulo-grande: 28px;
$fonte-titulo-muito-grande: 32px;

$fonte-paragrafo-muito-pequeno: 13px;
$fonte-paragrafo-pequeno: 15px;
$fonte-paragrafo-medio: 16px;
$fonte-paragrafo-grande: 20px;

// Pesos de Fonte
$fonte-peso-normal: 400;
$fonte-peso-medio: 500;
$fonte-peso-bold: 700;

