@use '@/sass/variaveis' as *;
@use '@/sass/mixins' as *;
@use '@/sass/extends' as *;

.principal {
    @extend %principal;

    .titulo {
        @extend %titulo;
    }

    .lista {
        @extend %grid-produtos;
    }

    .texto {
        color: $cor-texto-prateado;
        font-size: $fonte-titulo-medio;
        font-weight: $fonte-peso-medio;
        line-height: normal;
        place-self: center;
        text-align: center;
        width: 80%;
    }
}

@include breakpoint(tablet) {
    .principal {
        .texto {
            width: 50%;
        }
    }
}

@include breakpoint(desktop) {
    .principal {
        .titulo {
            font-size: $fonte-titulo-muito-grande;
        }

        .texto {
            font-size: $fonte-titulo-grande;
        }
    }
}
