@use '@/sass/variaveis' as *;
@use '@/sass/mixins' as *;
@use '@/sass/extends' as *;

.info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 0 1rem;

    .nome {
        @extend %produto-nome;
    }

    .descricao {
        @extend %produto-descricao;
        border-bottom: $borda-escura-2;
        padding-bottom: 1.5rem;
    }

    .preco {
        @extend %produto-preco;
        font-size: $fonte-paragrafo-grande;
        font-weight: $fonte-peso-medio;
        line-height: normal;
    }

    .fornecedor {
        @extend %produto-fornecedor;
    }
}

@include breakpoint(tablet) {
    .info {
        padding-top: 0;
    }
}
