@use '@/sass/variaveis' as *;
@use '@/sass/mixins' as *;

.secao {
    border: $borda-escura-2;
    margin: 1.75rem $espacamento-pequeno;
    padding: 1.5rem 1rem;

    .texto {
        color: $cor-texto-escuro;
        font-size: $fonte-paragrafo-medio;
        font-weight: $fonte-peso-normal;
        line-height: 1.375rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .campo {
        display: flex;

        .entrada {
            border: $borda-escura-2;
            border-right: none;
            color: $cor-texto-escuro;
            font-size: $fonte-paragrafo-medio;
            font-weight: $fonte-peso-normal;
            line-height: 1.375rem;
            padding: 0.5rem 1rem;
            width: 100%;

            &::placeholder {
                color: $cor-texto-acinzentado;
            }
        }
    }
}

@include breakpoint(tablet) {
    .secao {
        border: $borda-escura-1;
        margin: 2.375rem $espacamento-medio;
        padding: 2.5rem 3.75rem;

        .texto {
            font-size: $fonte-paragrafo-grande;
            line-height: normal;
        }

        .campo {
            margin: 0 auto;
            width: 440px;
        }
    }
}
