@use '@/sass/variaveis' as *;

.banner {
    height: 100%;
    position: relative;

    .picture {
        display: block;
        height: 100%;
        width: 100%;

        .imagem {
            height: inherit;
            object-fit: cover;
            object-position: center;
            width: inherit;
        }
    }

    .conteudo {
        bottom: 0;
        height: 50%;
        padding: 1.5rem $espacamento-pequeno;
        position: absolute;
        text-align: center;
        width: 100%;

        > img {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            width: 252px;
        }

        > h1 {
            color: $cor-texto-claro;
            font-size: $fonte-titulo-muito-grande;
            font-weight: $fonte-peso-medio;
            line-height: normal;
            margin-bottom: 0.5rem;
            text-transform: uppercase;
        }

        > p {
            color: $cor-texto-claro;
            font-size: $fonte-paragrafo-medio;
            font-weight: $fonte-peso-normal;
            line-height: 1.375rem;
        }
    }
}
