@use '@/sass/variaveis' as *;
@use '@/sass/extends' as *;

.banner {
    align-items: center;
    background: center / cover no-repeat;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 100%;
    padding: calc(208px + 1.5rem) $espacamento-pequeno 1.625rem;

    > img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 252px;
    }

    > h1 {
        color: $cor-texto-claro;
        font-size: $fonte-titulo-muito-grande;
        font-weight: $fonte-peso-medio;
        line-height: normal;
        text-align: center;
        text-transform: uppercase;
    }

    > p {
        color: $cor-texto-claro;
        font-size: $fonte-paragrafo-medio;
        font-weight: $fonte-peso-normal;
        line-height: 1.375rem;
        text-align: center;
    }
}
