@use '@/sass/variaveis' as *;
@use '@/sass/extends' as *;

.banner {
    align-items: flex-end;
    background: url('@/assets/images/carrossel/banner-mobile-1.png') center /
        cover no-repeat;
    display: flex;
    height: 100%;

    .conteudoImagem {
        @extend %banner-conteudo;
        justify-content: center;

        .imagem {
            width: 252px;
        }
    }

    .conteudoTexto {
        @extend %banner-conteudo;
        flex-direction: column;
        gap: 0.5rem;

        .titulo {
            color: $cor-texto-claro;
            font-size: $fonte-titulo-muito-grande;
            font-weight: $fonte-peso-medio;
            line-height: normal;
            text-align: center;
            text-transform: uppercase;
        }

        .texto {
            color: $cor-texto-claro;
            font-size: $fonte-paragrafo-medio;
            font-weight: $fonte-peso-normal;
            line-height: 1.375rem;
            text-align: center;
        }
    }
}
