@use '@/sass/variaveis' as *;
@use '@/sass/mixins' as *;
@use '@/sass/extends' as *;

.card {
    border: $borda-card;
    display: grid;
    grid-template-rows: 402px 1fr;

    .imagem {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 0.875rem;
        padding: 0.8125rem 1rem 1rem;

        .nome {
            @extend %produto-nome;
        }

        .descricao {
            @extend %produto-descricao;
        }

        .preco {
            @extend %produto-preco;
            margin-top: auto;
        }
    }
}

@include breakpoint(tablet) {
    .card {
        grid-template-rows: 389px 1fr;
    }
}

@include breakpoint(desktop) {
    .card {
        grid-template-rows: 422px 1fr;
    }
}
