@use '@/sass/variaveis' as *;
@use '@/sass/mixins' as *;

.campo {
    display: flex;
    gap: 0.5rem;
    grid-column: 1 / 3;
    height: 40px;

    .entrada {
        border: $borda-escura-2;
        color: $cor-texto-escuro;
        font-size: $fonte-paragrafo-muito-pequeno;
        font-weight: $fonte-peso-normal;
        line-height: 1.25rem;
        padding: 0.5625rem 0.75rem;
        width: 100%;

        &::placeholder {
            color: $cor-texto-acinzentado;
        }
    }

    .botao {
        border: $borda-escura-2;
        color: $cor-texto-escuro;
        font-size: $fonte-paragrafo-medio;
        font-weight: $fonte-peso-medio;
        letter-spacing: 0.46px;
        padding: 0.5625rem 1rem;
    }
}

@include breakpoint(tablet) {
    .campo {
        gap: 1rem;
        grid-column: 3 / 4;

        .entrada {
            background-color: $cor-fundo-escuro;
            border: $borda-campo;
            color: $cor-texto-claro;

            &::placeholder {
                color: $cor-texto-prateado;
            }
        }

        .botao {
            border: $borda-campo;
            color: $cor-texto-claro;
            font-size: $fonte-paragrafo-muito-pequeno;
            font-weight: $fonte-peso-normal;
            letter-spacing: normal;
            padding: 0.5625rem 0.75rem;
        }
    }
}

@include breakpoint(desktop) {
    .campo {
        .entrada {
            font-size: $fonte-paragrafo-pequeno;
        }

        .botao {
            font-size: $fonte-paragrafo-medio;
            font-weight: $fonte-peso-medio;
            letter-spacing: 0.46px;
        }
    }
}
