@use '@/sass/variaveis' as *;

.categorias {
    .titulo {
        color: $cor-texto-escuro;
        font-size: $fonte-titulo-grande;
        font-weight: $fonte-peso-medio;
        line-height: normal;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .cards {
        display: grid;
        gap: 1.875rem 1rem;
        grid-template-columns: repeat(auto-fit, minmax(146px, 1fr));
    }
}
