@use '@/sass/variaveis' as *;
@use '@/sass/mixins' as *;

.principal {
    display: flex;
    flex-direction: column;
    gap: 3.375rem;
    padding: 1.5rem $espacamento-pequeno 3rem;
}

@include breakpoint(tablet) {
    .principal {
        gap: 2.8125rem;
        padding: 2.5rem $espacamento-medio 3.25rem;
    }
}

@include breakpoint(desktop) {
    .principal {
        gap: 3rem;
        padding: 4.625rem $espacamento-grande 5.25rem;
    }
}
