@use '@/sass/variaveis' as *;
@use '@/sass/mixins' as *;

.modal {
    background-color: $cor-fundo-claro;
    border-radius: 0.25rem;
    box-shadow: $sombra-modal;
    overflow: hidden;
    width: 343px;

    &::backdrop {
        background: rgba(0, 0, 0, 0.5);
    }
}

@include breakpoint(tablet) {
    .modal {
        width: 700px;
    }
}
