@use '@/sass/variaveis' as *;
@use '@/sass/mixins' as *;

.secao {
    background-color: $cor-fundo-escuro;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem $espacamento-pequeno;

    .titulo {
        color: $cor-texto-claro;
        font-size: $fonte-titulo-medio;
        font-weight: $fonte-peso-medio;
        line-height: normal;
        text-align: center;
    }

    .lista {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

@include breakpoint(tablet) {
    .secao {
        align-items: center;
        gap: 2.5rem;
        padding: 2.5rem $espacamento-medio;

        .titulo {
            font-size: $fonte-titulo-muito-grande;
        }
    }
}

@include breakpoint(desktop) {
    .secao {
        padding: 2.5rem $espacamento-grande;

        .lista {
            flex-direction: row;
        }
    }
}
