@use '@/sass/variaveis' as *;
@use '@/sass/mixins' as *;
@use '@/sass/extends' as *;

.produtos {
    .titulo {
        @extend %titulo;
        margin-bottom: 1.875rem;
    }

    .lista {
        display: grid;
        gap: 1.875rem;
        grid-template-columns: repeat(auto-fill, 323px);
        justify-content: center;
    }
}

@include breakpoint(tablet) {
    .produtos {
        .titulo {
            margin-bottom: 2rem;
        }

        .lista {
            gap: 2rem 1.875rem;
            grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
        }
    }
}

@include breakpoint(desktop) {
    .produtos {
        .titulo {
            font-size: $fonte-titulo-muito-grande;
            margin-bottom: 1.875rem;
        }

        .lista {
            gap: 1.875rem;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        }
    }
}
