@use '@/sass/variaveis' as *;
@use '@/sass/mixins' as *;

.card {
    align-items: center;
    background: linear-gradient(
        to bottom,
        $cor-fundo-destaque 157px,
        $cor-fundo-escuro 35px
    );
    display: grid;
    grid-template-rows: 157px 35px;
    justify-items: center;

    .imagem {
        height: 80%;
        object-fit: contain;
        width: 80%;
    }

    .titulo {
        color: $cor-texto-claro;
        font-size: $fonte-titulo-muito-pequeno;
        font-weight: $fonte-peso-medio;
        line-height: normal;
    }
}

@include breakpoint(tablet) {
    .card {
        .imagem {
            height: 65%;
            width: 65%;
        }
    }
}

@include breakpoint(desktop) {
    .card {
        .imagem {
            height: 75%;
            width: 75%;
        }
    }
}
